*{
    font-family: "Playfair Display", serif;
}






header{
    background-color:#131842;
}
header span {
    color: beige;
}




#nav-butoon:hover{
    transform: scale(1.1);
}


.nav-item a{
    color: beige;
}

/*Link visitado*/



.nav-item a:visited{
    color: beige;
}

.nav-item a:hover{
    color:#B3A398
}

#nav-butoon{
    background-color:#9f9893 ;
    
}




.icono-habilidades{
    color:#131842 ;
    font-size: 2em;
}
.img-proyecto1{
    background-image: url(/assets/Captura\ de\ pantalla\ 2024-07-25\ 205316.png) ;
    
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
}
footer{
    background-color: #857f7b;
}
footer .icon-footer i{

    color: #e1e4ea;
    font-size: 2rem;
}
footer p{
    color:#e9eaed
    
}
#app{
    color: rgb(44, 41, 41);
}
